.error-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-wrapper .modal-box {
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 600px;
  max-width: 80vw;
}

.error-wrapper .modal-box .error-body {
  justify-self: center;
  display: grid;
}

.error-wrapper .modal-box .error-body.welcome {
  color: white;
  align-self: start;
  display: grid;
  justify-items: center;
  grid-row-gap: 2rem;
}

.error-body.welcome .instructions {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
  background-color: #012e67;
  border-radius: 8px;
  margin: 0 200px;
  padding: 20px;
}

.error-wrapper .modal-box .error-body span {
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.error-wrapper .modal-box .error-body p.error-mes {
  display: inline-block;
  padding: 0 2rem;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.error-wrapper .modal-box.welcome {
  width: 1000px;
  height: 650px;
  max-width: 80vw;
  grid-template-rows: auto 1fr;
}

.error-body p.welcome-par {
  font-size: 22px;
  padding: 0 8rem;
  color: white;
  text-align: center;
}

.service-list {
  display: grid;
  grid-row-gap: 1rem;
}

.service-list li {
  color: white;
  padding: 0 5rem;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 20px;
}
