.dashboard {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.category-box {
  border-radius: 3rem;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
}

.category-box .top {
  color: white;
  background-size: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  min-height: 10rem;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.category-box h2,
.category-box .top button {
  display: inline-block;
  margin: 1rem;
  align-self: end;
  color: white;
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.category-box h2 {
  font-size: 1.8rem;
}

.category-box .top button svg {
  font-size: 1.5rem;
}

.category-box .top button {
  align-self: start;
}

.category-box .top button:hover {
  cursor: pointer;
}

.category-box .bottom {
  padding: 1.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  display: grid;
  grid-row-gap: 1rem;
}

.category-box .bottom .category-name {
  display: inline-block;
  padding: 2rem 0 2rem 0;
}

.category-box .bottom .post-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(5rem, 100%), 1fr));
}

.post-icon {
  width: 80%;
  display: grid;
  justify-items: center;
  justify-content: center;
  max-height: 100px;
  overflow: hidden;
}
.post-icon span {
  color: black;
}

.post-icon img {
  width: 60px;
  height: 60px;
  border-radius: 1rem;
  justify-self: start;
}

.toggleButton {
  font-size: 1.2rem;
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-self: right;
}

.toggleButton:hover {
  border: 1 px solid #888;
  background-color: antiquewhite;
}

.post-icon a li {
  display: grid;
  justify-items: center;
}
/* big screens */
@media (min-width: 600px) {
  .category-box .top {
    min-height: 18rem;
  }
}
