.footer {
    background-color: #F2994A;
    display: flex;
    justify-content: space-around;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    
  }

  .footer a {
      padding: 25px;
      color: white;
      font-weight: bold;
      
  }