.navBar li, h1 {
    display: inline;
    padding: 2%;
}


.navbar{
    list-style: none;
    color: white;
}
.navbar img{
    display:flex;
    justify-content: flex-start;
}

.navbar ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li{
    padding: 1rem;
}
