
.modal-wrapper {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3 );
}

 .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 600px;
    background-color: #5493d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 5px;
    border-radius: 3rem;
}

.modal-icon {
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-items: center;

}

.modal-body h1 {
    margin: 0px;
    font-size: 70px;
    
}

 .give_ask p{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    font-size: 40px;
}

 .help h1 {
    color: white;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

  

  
  .confirm-msg {
    padding: 15px;
  }

  .yes-no-btn {
  border: none;
  background-color: #5493d2;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  }
  .confirm-modal-body{
    display: grid;
    justify-items: center;   
  }
  .btn-wrapper button:first-child {
    background-color: #1e6fbf;
  }

 @media (max-width: 500px) {

  .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background-color: #5493d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 5px;
    border-radius: 3rem;
}

 }
