.modal-wrapper {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3 );
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 50%;
    background-color: lightyellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 5px;
    border-radius: 3rem;
}

.modal-icon {
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-items: center;

}

.modal-body h1 {
    margin: 0px;
}

.give_ask {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

 .help h1 {
    color: lightskyblue;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;

}