.phoneSize {
  display: none;
}
.navbar {
  background: linear-gradient(90deg, #fefefe 0, #012e67 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.profile-icon {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 5px;
}
.profile-icon .user-name {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}

.navbar-logo {
  justify-self: start;
  margin-left: 0px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.nav-links:hover {
  display: inline;
  background-color: #5493d2;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.desktopSize{
  display: block;
}

@media screen and (max-width: 950px) {

  .profile-icon {
    transform: translate(-330%, 0%);
  }

  .profile-icon .user-name {
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(150%, 0%);
  }

  .NavbarItems {
    position: relative;
  }

  .nav-links {
    color: white;
    font-weight: bolder;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0.2;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1e6fbf;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #5493d2;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1e6fbf;
    transition: 250ms;
  }
    .phoneSize {
  display: block;
}
.desktopSize {
  display: none;
}
  
}
@media screen and (max-width: 768px) {

  .profile-icon {
    transform: translate(-240%, 0%);
  }

  .profile-icon .user-name {
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(120%, 0%);
  }
}

@media screen and (max-width: 550px) {
  .profile-icon {
    transform: translate(-350%, 10%); 
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-items: center;
    margin-top: 15px;
  }

  .profile-icon .user-name {
    color: black;
    font-size: 14px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 0%);
  }
  
}
