:root {
  --bg: #f3d381;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 550ms;
  --nav-size: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.dropDown {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
}

.dropDown-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.dropDown-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 30px;
  height: 30px;
}

.dropdown {
  position: absolute;
  top: 70px;
  width: 200px;
  transform: translate(-95%);
  background-color: var(--bg);
  /* border: var(--border); */
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #e2d4b6;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translate(-110%);
}

.menu-primary-enter-active {
  transform: translate(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translate(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translate(110%);
}

.menu-secondary-enter-active {
  transform: translate(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translate(110%);
  transition: all var(--speed) ease;
}

.link-display {
  display: inline;
}
