.image-menu-wrapper {
  position: absolute;
  width: 80vw;
  height: 60vh;
  top: 20%;
  left: 10%;
}

.image-menu-wrapper .modal-box {
  width: 40%;
  height: 50%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.image-menu-wrapper .modal-box .image-edit-body {
  display: grid;
  justify-self: center;
  justify-items: center;
}

@media (max-width: 500px) {
  .image-menu-wrapper .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -30%);
    height: 320px;
    width: 300px;
    background-color: #5493d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 5px;
    border-radius: 3rem;
  }

  

}
