.image-menu-wrapper {
  position: absolute;
  width: 80vw;
  height: 60vh;
  top: 20%;
  left: 10%;
}

.image-menu-wrapper .modal-box {
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.image-menu-wrapper .modal-box .image-edit-body {
  display: grid;
  justify-self: center;
  justify-items: center;
}


