@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0%;
}

.loginpage {
  background-image: url("..//..//../assets/studying-guy.webp");
  background-repeat: no-repeat;
  background-position: right 35%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
}

.loginpage-text {
  position: relative;
  left: 15.5%;
  top: 22%;
  max-width: 300px;
  text-align: left;
}

.loginGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.signinform {
  margin-top: 20rem;
  text-align: end;
  font-family: Source-Sans-Pro;
  background-color: rgba(48, 46, 46, 0.5);
  border-radius: 0.5rem; 
}

.signinform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signin-1, .signin2 {
  margin: 1rem;
}

.signin-1 input{
  margin-top: 10px;
}

.signup1 input{
  margin-top: 10px;
}

.signinform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color: #F2994A;
  border-style: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.signinform .smallButton {
  border: none;
  outline: none;
  background: none;
  margin-top: 5px;
  margin-bottom: 1rem;
  margin-right: 27rem;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
  color: white;
}

.signinform .gotoRegister {
  border: none;
  outline: none;
  background: none;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-right: 27rem;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
  color: white;
}

.signupform {
  margin-top: 18rem;
  text-align: end;
  border-style: none;
  font-family: Source-Sans-Pro;
  
}

.signupBox{
  background-color: rgba(48, 46, 46, 0.5);
  border-radius: 0.5rem; 

}

.signupform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signup1, .signup2, .signup3 {
  margin: 1.5rem;
}

.signupform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color: #F2994A;
  border-style: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.signupform .smallButton {
  border: none;
  outline: none;
  background: none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 17rem;
  font-style: italic;
  cursor: pointer;
  color: white;

}

@media (max-width: 1000px) {
  .loginGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .loginpage-text {
    position: relative;
    max-width: 300px;
    margin: 1rem;
    top: 30px;
    left: 200px;
  }
  .login-info {
    justify-content: center;
  }
  .signinform {
    margin-top: 0rem;
    position: relative;
    margin: 1px;
    left: 7.5rem;
  }
  .signin3 {
    position: relative;
    left: 0.5rem;
  }
  .signupform {
    margin-top: 0rem;
    position: relative;
    margin: 1px;
    left: 7.5rem;
  }
}

@media (max-width: 410px) {
  .loginpage-text {
    max-width: 250px;
    left: 8rem;
  }
  .signin-1 input, .signin2 input {
    margin-right: 15.5rem;
    height: 3rem;
    width: 16rem;
  }
  .signin3 .submitButton {
    width: 17rem;
    margin-right: 16.5rem;
  }
  .signupform input {
    margin-right: 15.5rem;
    height: 3rem;
    width: 16rem;
  }
  .signupform .submitButton {
    width: 17rem;
    margin-right: 16.5rem;
  }

}