@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0%;
}
.loginpage {
  background-image: url("..//..//../assets/austin-kehmeier-lyiKExA4zQA-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-position: 350px 0px;
}

.signinform {
  text-align: end;
  border-style: none;
  margin-top: 10rem;
  font-family: Source-Sans-Pro;
}

.signinform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signin-1,
.signin2 {
  margin: 1.5rem;
}

.signinform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color: orange;
  border-style: none;
  border-radius: 1rem;
  color: white;
}

.signinform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
}
.signinform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 9rem;
  font-size: 14px;
}

.signinform .gotoRegister{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 17rem;
  font-size: 14px;
}

.signupform {
  text-align: end;
  border-style: none;
  margin-top: 8rem;
  font-family: Source-Sans-Pro;
}

.signupform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signup1,
.signup2,
.signup3 {
  margin: 1.5rem;
}

.signupform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color: orange;
  border-style: none;
  border-radius: 1rem;
  color: white;
}

.signupform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 24rem;
}
