@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0%;
}
.loginpage {
  background-image: url("..//..//../assets/austin-kehmeier-lyiKExA4zQA-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-position: right 35% ;
  min-height: 100vh;
  overflow:hidden;
  background-color: rgb(255, 255, 255);
}


.logo {
  position: fixed;
  left: 15.5%;
  top: 22%;
  max-width: 300px;
  text-align: left;
}

@media screen and (max-width:1000px) {
  .logo {
    position: fixed;
    left: 5%;
    top: 5%;
    max-width: 300px;
    text-align: left;
  }
}


.signinform {
  text-align: end;
  border-style: none;
  margin-top: 17rem;
  font-family: Source-Sans-Pro;
}

.signinform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signin-1,
.signin2 {
  margin: 1.5rem;
}

.signinform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color: #F2994A;
  border-style: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.signinform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.signinform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 9rem;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
}

.signinform .gotoRegister{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 17rem;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
}

.signupform {
  text-align: end;
  border-style: none;
  margin-top: 15rem;
  font-family: Source-Sans-Pro;
}

.signupform input {
  padding: 1.3rem;
  margin-right: 15rem;
  border-style: solid 0.02rem;
  height: 4rem;
  width: 25rem;
  border: none;
  border-radius: 1rem;
}

.signup1,
.signup2,
.signup3 {
  margin: 1.5rem;
}

.signupform .submitButton {
  background: none;
  height: 4rem;
  width: 25rem;
  margin-right: 16.5rem;
  background-color:#F2994A;
  border-style: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.signupform .smallButton{
  border: none;
  outline:none;
  background:none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 17rem;
  font-style: italic;
  cursor: pointer;
}
