.card-container .page-title {
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
}

.card-body .medium-button {
  background-color: orange;
  color: white;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: large;
  font-weight: bold;
  width: 15rem;
  justify-self: center;
  margin-bottom: 1rem;
}

.card-container {
  border-radius: 1rem;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
  margin: 2rem;
}

.page-title h1 {
  justify-self: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 15px;
  display: inline-block;
  padding: 1rem 2rem;
}
.create-header label {
  /* padding-top: 60px;
    padding-left: 20px; */
  margin-top: 30px;
  /* justify-self: center; */
  justify-content: center;
}
/* .card-container {
    border-radius: 1rm;
    box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
} */

.map {
  width: 600px;
  height: 400px;
  max-width: 90vw;
  max-height: 60vh;
}

.createcard {
  display: inline;
  justify-content: center;
  margin-top: 40px;
  width: 80%;
  min-height: 35rem;
  border-radius: 3rem;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
}

.card-body {
  display: grid;
  padding: 0.2rem 0.5rem;
  margin: 35px;
  grid-gap: 10px;
  justify-self: center;
  justify-content: center;
  justify-items: center;
}

.custom-field .card-input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 30px;
  width: 250px;
  outline: none;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.custom-field .placeholder {
  position: absolute;
  left: 20px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: black;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
}

.custom-field textarea:valid + .placeholder,
.custom-field textarea:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
}

@media (min-width: 450px) {
  .custom-field .card-input {
    width: 300px;
    height: 50px;
    outline: none;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
  }
}

@media (min-width: 750px) {
  .createcard {
    height: 55rem;
    width: 50rem;
    justify-self: center;
  }
}

@media (min-width: 750px) {
  .createcard {
    height: 55rem;
    width: 50rem;
    justify-self: center;
  }
  .custom-field .card-input {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 30px;

    width: 550px;
    height: 90px;
    outline: none;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
  }

  .custom-field {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
  }

  .card-body .medium-button {
    margin-top: 30px;
    justify-self: center;
    height: 5rem;

    background-color: orange;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: large;
    font-weight: bold;
    width: 15rem;
  }
  .card-body {
    justify-items: center;
  }
}
/* 
#visibility {
  display: none;
} */
.custom-field .small-button {
  display: none;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.right {

  margin-top: 450px;
  margin-left: 20px;

 
}

.map {
  margin-top: 20px;
  border-radius: 3rem;
  margin-right: 20px;
}

