.posts-page {
  display: grid;
  justify-items: center;
  padding: 1.5rem;
}

.no-posts {
  display: grid;
  justify-items: center;
  margin-top: 8rem;
  color: grey;
}

.no-posts svg {
  font-size: 5rem;
}

.posts {
  display: grid;
  grid-row-gap: 2rem;
}

@media (min-width: 600px) {
  .posts {
    display: grid;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr;
    width: 30rem;
  }
}

@media (min-width: 900px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    width: 63rem;
  }
}
