.posts-page {
  display: grid;
  justify-items: center;
  padding: 3rem;
}

.no-posts {
  display: grid;
  justify-items: center;
  margin-top: 8rem;
  color: grey;
}

.no-posts svg {
  font-size: 5rem;
}

.posts {
  max-width: 90vw;
  display: grid;
  grid-row-gap: 3vh;
}

@media (min-width: 600px) {
  .posts {
    width: 30rem;
  }
}
