hr {
  border-top: 0.5px;
}
.postcard {
  width: 100%;
  min-height: 35rem;
  display: grid;
  grid-template-rows: 20rem auto;
  border-radius: 3rem;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem 3rem 0 0;
}

.postcard .post-bottom {
  padding: 1rem;
  display: grid;
}

.down-wrapper {
  align-self: end;
}

.postcard .post-bottom .header {
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.postcard .post-bottom .signature .spans .user-name {
  font-size: 16px;
}

.postcard .post-bottom .signature .spans .date {
  font-size: 12px;
}

.postcard .post-bottom .header .type-tag {
  color: green;
}

.postcard .post-bottom .header h3 {
  margin: 0;
  align-self: end;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.postcard .post-bottom .post-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.postcard .post-bottom .signature {
  height: 3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.postcard .post-bottom .signature .post-date {
  justify-self: end;
  font-size: 0.8rem;
}

.postcard .post-bottom .signature .status {
  background-color: green;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
}

.postcard .post-bottom .react {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-self: end;
}

.postcard .post-bottom .react .medium-button {
  justify-self: end;
  padding: 0.5rem 1rem;
}

.reaction button {
  background: none;
  border: none;
}

.reaction button:hover {
  cursor: pointer;
}

.msg_send_btn {
  background: #b52b65 none repeat scroll 0 0;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 15px;

}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  outline: none;
}

