/* These styles apply to all three categories of posts,
the classes are mostly defined in SinglePost.jsx and SharedSinglePost.jsx */

.post-wrapper {
  display: grid;
  justify-content: center;
  padding: 2rem;
}

.single-post {
  display: grid;
  justify-items: center;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
  border-radius: 4rem;
  width: 80vw;
}

.single-post .post-pic {
  width: 100%;
  display: grid;
  justify-items: center;
  background-color: rgba(221, 221, 221, 0.3);
  border-radius: 4rem 4rem 0 0;
}

.single-post .post-pic img {
  object-fit: contain;
  width: 100%;
  max-height: 40vh;
  box-shadow: 5px 5px 16px rgba(163, 177, 198, 0.5);
  border-radius: 4rem 4rem 0 0;
}

.single-post-card {
  width: 80vw;
  max-width: 80vw;
  /* padding: 2rem; */
  min-height: 80vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  justify-items: center;
}

.single-post-card .main-wrapper {
  width: 75%;
}

.single-post-card .signature {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
}

.single-post-card .signature img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

.single-post-card .signature span {
  display: block;
}

.single-post-card .signature div {
  height: 100%;
  display: grid;
  grid-row-gap: 0.3rem;
  align-items: center;
}

.single-post-card .signature .user-name {
  font-size: 1.5rem;
}

.single-post-card .main .post-info {
  background-color: rgba(219, 215, 215, 0.4);
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.post-info .post-body {
  font-size: 1.2rem;
}

.comments {
  display: grid;
}

.no-comments {
  color: grey;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.comment-area {
  display: grid;
  justify-items: start;
  align-items: start;
}

.comment-area textarea {
  border: 1px solid rgb(190, 188, 188);
  border-radius: 1rem;
  width: 30rem;
  max-width: 75%;
  height: 8rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.comments {
  display: grid;
  grid-row-gap: 1rem;
}

.comment-card {
  background-color: rgba(219, 215, 215, 0.4);
  border-radius: 2rem;
  display: grid;
  padding: 1rem;
}

.comment-card p {
  font-size: 1.1rem;
}

.comments-wrapper h3 {
  margin-bottom: 1rem;
}

.main .button-group {
  display: flex;
  justify-content: flex-end;
}

.button-group .medium-button {
  background-color: #1e6fbf;
}

.button-group button:first-child {
  margin-right: 1rem;
}

.single-post .show-map {
  border-radius: 2rem;
  width: 350px;
  height: 200px;
  margin-bottom: 2rem;
}

.single-post .show-map .map-wrapper .map {
  border-radius: 2rem;
  width: 350px;
  height: 200px;
}

.single-post .location-button {
  display: block;
  margin: 2rem;
}

@media (min-width: 600px) {
  .single-post {
    grid-template-areas: "pic pic" "post map" "post map";
    grid-row-gap: 4rem;
  }

  .single-post .post-pic {
    grid-area: pic;
  }

  .single-post-card {
    width: 100%;
  }

  .single-post-card .main {
    grid-area: post;
  }

  .single-post .map {
    grid-area: map;
  }

  .single-post .location-button {
    display: none;
  }

  .single-post .map {
    margin-right: 2rem;
    width: 500px;
    height: 300px;
    border-radius: 2rem;
  }

  .single-post-card .main-wrapper {
    width: 90%;
    margin-left: 2rem;
  }

  .post-info,
  .main {
    width: 100%;
  }
}
